body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#container {
  background-color: #F5F5F5;
}
#banner {
  background-image: url(images/bulbm.jpeg);
  width: auto;
  max-width: 100%;
  height: 600px;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 50px;
  opacity: .8;
  z-index: 1;
}
#initials {
  float: left;
  color: #FFF;
  font-size: 150%;
  text-align: center;
  margin: 15px 10px;
}
#name {
  color: #a7a7a7;
  float: left;
  font-size: 150%;
  text-align: center;
  margin: 15px 10px;
}
#navbar {
  float: left;
  margin: 17px 0 17px 70px;
}
#navbar li {
  float: left;
}
#navbar li a {
  text-decoration: none;
  color: #FFF;
  font-family: arial;
  font-size: 120%;
  text-align: center;
  padding: 15px 10px;
}
#navbar li a:hover {
  color: #0bab0d;
  text-decoration: underline;
}
#navbar li a:focus {
  color: #0bab0d;
  text-decoration: underline;
}
/*-------header end------*/
section {
  clear:both;
}
#intro {
  width: 100%;
}
#intro-inner {
  max-width: 1200px;
  height: 300px;
  margin: 0 auto;
}
#info {
  width: 50%;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 250%;
  height: 200px;
  float: left;
  margin: 100px 50px 0 0;
}
#photo {
  float: left;
  width: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 50px;
}
#about {
  display: block;
  background-color: #a7a7a7;
  width: 100%;
}
.inner {
  max-width: 1200px;
  margin: auto;
  padding: 50px;
}

.inner #bio {
  color: #FFF;
  font-size: 200%;
  font-family: 'Josefin Slab', serif;
  line-height: 150%;
  text-align: center;
}
/*------About End-------*/
#education {
  width: 100%;
  background-color: #FFF;
}
#education h3 {
  font-size: 140%;
  margin:20px;
  font-weight: bold;
}
#education h4 {
  font-size: 120%;
  margin: 10px;
  padding-left: 20px;
  font-weight: bold;
}
#education p {
  font-size: 100%;
  margin: 10px;
  width: 500px;
  padding-left: 40px;
  line-height: 120%;
}
#education h3, #education h4, #education p {
  font-family: 'Lato', sans-serif;

/*-------footer start-------*/
}
#container footer {
  height: 200px;
  width: 100%;
  background-color: black;
  opacity: .9;
  margin-top: 10px;
}
footer h3 {
  font-family: 'Lato', sans-serif;
  color: #a7a7a7;
}
.icon {
  margin: 10px 5px;
  opacity: .5;
}
.icon:hover {
  opacity: 1;
}
#iconm, #iconm a{
  text-decoration: none;
  color: #a7a7a7;
  opacity: .3;
}
/*-------responsive design start------*/
@media screen and (max-width: 768px) {
  header {
    height: 100px;
  }
  #navbar {
    width: 100%;
    margin: 0;
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    padding: 13px 0 13px 10%;
  }
  #banner {
    background-image: url(images/bulbs.jpeg);
    height: 400px;
    width: 100%;
    background-size: 768px;
  }
  #intro {
    margin: 0;
  }
  #info {
    font-size: 180%;
    margin-left: 20px;
  }
  #about #bio {
    font-size: 150%;
  }
}
@media screen and (max-width: 480px) {
  header {
    position: static;
    height: 167px;
    opacity: 1;
  }
  #navbar {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
  }
  #navbar li {
    width: 100%;
    text-align: center;
    border-top: 1px solid #a7a7a7;
    padding: 2px 0;
  }
  #navbar li a {
    line-height: 120%;
    padding: 0;
    margin: 0;
    font-size: 120%;
  }
  #bottom-border {
    border-bottom: 1px solid #a7a7a7;
  }
  #banner {
    background-image: url(images/bulbss.jpeg);
    position: static;
    height: 160px;
    width: 100%;
    background-size: 480px;
  }
  #info {
    margin: 20px auto 0;
    width: 100%;
    height: 100px;
  }
  #photo {
    display: block;
    margin: 0 0 0 25%;
    text-align: center;
  }
  #about #bio {
    font-size: 120%;
  }
  .inner {
    padding: 30px;
  }
  #education h3 {
    font-size: 120%;
    margin:5px;
    font-weight: bold;
  }
  #education h4 {
    font-size: 100%;
    margin: 5px;
    padding-left: 5px;
    font-weight: bold;
  }
  #education p {
    font-size: 90%;
    margin: 5px;
    width: 300px;
    padding-left: 10px;
    line-height: 120%;
  }
}
